* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 890px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* background-color: cadetblue; */
}

.game-holder {
  width: 150px;
  margin-bottom: 30px;
  border-bottom: solid 2px orangered;
  font-family: VirtualRotRegular;
}

.brief-rating {
  font-size: 9px;
}

.brief-des {
  margin-bottom: 10px;
}

.site-container {
  margin: 0 auto;
  max-width: 1250px;
  min-height: 600px;
  /* background-color: aqua; */
}

.hero-container {
  max-width: 100%;
  min-height: 400px;
  /* background-color: beige; */
  padding-top: 100px;
}

.hero-image {
  width: 100%;
  min-height: 400px;
  /* background-color: cadetblue; */
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.callout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  height: 200px;
  /* background-color: blueviolet; */
  font-size: 35px;
  font-family: ModernWarfare;
  color: white;
  text-align: center;
}

@font-face {
  font-family: VirtualRotRegular;
  src: url(../css/fonts/VirtualRotRegular.ttf);
}
@font-face {
  font-family: ModernWarfare;
  src: url(../css/fonts/ModernWarfare.ttf);
}
.logo {
  width: 150px;
  min-height: 50px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  margin-left: 10px;
  width: 150px;
  height: 50px;
}

@media only screen and (max-width: 960px) {
  .logo {
    margin-right: -150px;
  }
}
.navHolder {
  position: fixed;
  max-width: 1250px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  z-index: 99;
  font-family: PTSerif-Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bars {
  position: absolute;
  display: none;
  width: 25px;
  right: 10px;
  top: 30px;
}

.navHolder .bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: #000;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100vw;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: height 0.4s, opacity 0.4s ease-in;
  transition: height 0.4s, opacity 0.4s ease-in;
}

.links.active {
  height: 100vh;
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  .bars {
    display: block;
  }

  .links {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    height: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links a {
    color: #fff;
  }
}
@media only screen and (min-width: 960px) {
  .links.active {
    height: 100px;
  }
}
a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  color: purple;
  font-family: VirtualRotRegular;
}

footer {
  margin: 0 auto;
  max-width: 1250px;
  min-height: 100px;
  margin-top: 50px;
}
footer .footer-container {
  margin: 0 auto;
  max-width: 1050px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container .logo img {
  width: 150px;
  height: 50px;
}
footer .footer-container .copyright {
  color: purple;
  font-size: 12px;
  font-family: ModernWarfare;
  padding-right: 10px;
}